*:focus {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
*, ::before, ::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}
svg {
  display: block;
  vertical-align: middle;
}